@model mvCommerce.Models.Client
@{
    ViewData["Title"] = "Login";
}
<head>

</head>
<body>
    <main role="main">
        <br />
        <br />
        <section class="container">
            <aside class="col-sm-6 login-card">
                <p>
                    Faça seu login
                </p>
                <div id="code_login_1">
                    <div class="card">
                        <article class="card-body">
                            @if (ViewData["MSG_E"] != null)
                            {
                                <p class="alert alert-danger"><b>@Html.Raw(ViewData["MSG_E"])</b></p>
                            }

                            <a asp-action="RegisterClient" asp-controller="Home" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" class="btn btn-outline-info my-2 my-sm-0 float-right" id="signUp">Cadastre-se</a>
                            <small class="float-right mr-2 mt-2">Ainda não é cadastrado ? </small>
                            <h4 class="card-title mb-4 mt-1">Entrar</h4>
                            <form method="post">
                                <div class="form-group">
                                    <label>E-mail</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input asp-for="Email" class="form-control" placeholder="Email" type="email">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <a class="float-right" href="#">Esqueceu sua senha?</a>
                                    <label>Senha</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </div>
                                            <input asp-for="Password" class="form-control" type="password" placeholder="*****">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info my-2 my-sm-0"> Entrar </button>
                                </div>
                            </form>
                        </article>
                    </div> 
                </div> 
            </aside>
        </section>
    </main>
</body>

