
@{
    ViewData["Title"] = "AddressDelivery";
}

<div class="container">
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <!--List Address-->
            <div class="text-center">
                <a class="btn btn-outline-info fa fa-plus" asp-action="RegisterDeliveryAddress"></a>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
