@model mvCommerce.Models.Collaborator
@{
    ViewData["Title"] = "Register";
}

<h1>Editar</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Type" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Digite o nome">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Digite o email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info col-1">Salvar</button> <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
</form>