.images {
    width: 100% !important;
}
.btn-image-delete{
    width:100%;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
.btn-hide {
    display: none;
}
.images div {
   text-align: center;
}
.input-file{
    display:none;
}
.img-upload{
    cursor:pointer;
}
.images input[name=image]{
    display:none;
}