@model X.PagedList.IPagedList<mvCommerce.Models.Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@foreach (Category category in Model)
{
    @category.Name<br />
}
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))